/* Activities section start */

.activities-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.timeline {
    width: 1000px;
    margin: 80px 80px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.timeline-left {
    width: 260px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.timeline-left .dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: #1F6F78;
    top: 99px;
}

.timeline-left .line {
    width: 100%;
    height: 2px;
    position: absolute;
    background: #1F6F78;
    top: 320%;
}

.timeline-card {
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 45px;
    border-radius: 14px;
    width: 90%;
}

.card-content h3 {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #111111;
}

.year {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 24px;
    color: #1F6F78;
    line-height: 35px;
}

.card-content p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
}

/* Responsive Part */

@media (max-width:1440px) {
    .timeline {
        width: 100%;
        margin: 80px auto;
    }

    .timeline-card {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .timeline {
        width: 100%;
        margin: 60px auto;
    }

    .timeline-left {
        width: 180px;
    }

    .timeline-card {
        width: 100%;
        gap: 20px;
    }
}


@media (max-width: 768px) {
    .timeline {
        width: 100%;
        margin: 40px auto;
    }

    .timeline-item {
        flex-direction: column;
        align-items: center;
    }

    .timeline-left {
        display: none;
    }

    .timeline-card {
        width: 90%;
    }

    .card-content h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .year {
        font-size: 20px;
        line-height: 30px;
    }

    .card-content p {
        font-size: 16px;
        line-height: 23px;
    }
}