/* Assignment section start */

.assignment-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.assignment-section .section-title h2 {
    font-weight: 700;
}

.assignment-section .assignment-content {
    /* display: flex; */
    margin-top: 40px;
    /* margin-left: 135px; */

}

.assignment-content .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, (4, 1fr)); */
    gap: 40px;
}

.assignment-content .grid .card {
    background-image: url("../assets/assignImage.png");
    width: 78%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    transition: all 0.5s ease-in;
}

.assignment-content .grid .card:hover {
    transform: scale(0.9);
}


.assignment-content .grid .card .card-footer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    height: 46px;
    border-radius: 0 0px 20px 20px;
    margin-top: 204px;
    justify-content: center;
    align-items: center;
}

.assignment-content .grid .card .card-footer a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #1F717A;
    transition: color 0.5s linear;
}

.assignment-content .grid .card .card-footer a:hover {
    color: rgba(10, 10, 10, 1);
}

/* Responsive Part */

@media (max-width:1440px) {
    .assignment-content .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .assignment-content .grid .card {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .assignment-content .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .assignment-content .grid .card {
        width: 89%;
    }
}

@media (max-width: 768px) {
    .assignment-content .grid {
        margin-left: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .assignment-content .grid .card {
        width: 80%;
    }
}

@media (max-width: 426px) {

    .assignment-content {
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .assignment-content .grid {
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }

    .assignment-content .grid .card {
        background-size: contain;


    }

    .assignment-content .grid .card .card-footer {
        height: 5vh;
        margin-top: 90px;
    }

    .assignment-content .grid .card .card-footer a {

        font-size: 100%;
    }
}

@media (max-width: 376px) {

    .assignment-content {
        margin-left: 0%;
        margin-bottom: 60%;
    }

    .assignment-content .grid {
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
    }

    .assignment-content .grid .card {
        background-size: contain;
        width: 100%;
        
    }

    .assignment-content .grid .card .card-footer {
        height: 4vh;
        margin-top: 90px;
    }

}