/* Project section start */

.project-section {
    padding: 6% 60px;
    background: rgba(17, 17, 17, 0.25);
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.project-section .section-title h2 {
    font-weight: 700;
}

.project-content {
    margin-left: 0px;
    margin-top: 50px;
}

.project-content .upper-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 350px;
    margin-right: 300px;
}

.project-content .bottom-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 350px;
    margin-top: -320px;
    margin-left: 355px;
}

.project-content .project-card {
    opacity: 0.7;
    transition: all 0.5s;
}

.project-content .project-card:hover {
    opacity: 1;
}


.project-card {
    display: block;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
    width: 300px;
    height: 570px;
}

.project-card h3 {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.project-card p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.project-section .button {
    display: flex;
    margin-top: 90px;
}

.project-section .btn {
    display: inline-block;
    width: 260px;
    padding: 12px 0px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    font-family: "Lisu Bosa", serif;
    font-weight: 400;
}

.project-section .outline {
    border: 2px solid #1F6F78;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s linear;
}

.project-section .outline:hover {
    transform: translateY(-10px);
    border: 2px solid white;
}

.project-section .outline:active {
    transform: translateY(-10px);
    border: 2px solid #1F6F78;
}

/* Responsive Part */

@media (max-width:1440px) {

    .project-content .upper-content {
        gap: 150px;
    }

    .project-content .bottom-content {
        gap: 150px;
        margin-left: 50;
        margin-top: 50px;
    }
}

@media (max-width: 1024px) {

    .project-content .upper-content,
    .project-content .bottom-content {
        gap: 250px;
        margin: 10px;
    }

    .project-card {
        width: 260px;
        height: auto;
    }

    .project-card img {
        width: 220px;
    }

    .project-section .button {
        display: flex;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {

    .project-content .upper-content,
    .project-content .bottom-content {
        align-items: center;
        gap: 60px;
        margin: 0;
    }

    .project-content .bottom-content {
        margin-top: 10px;
    }

    .project-card h3 {
        font-size: 20px;
        line-height: 23px;
    }

    .project-card p {
        font-size: 16px;
        line-height: 23px;
    }

    .project-section .btn {
        display: inline-block;
        width: 260px;
        padding: 12px 0px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 20px;
    }
}

@media (max-width: 426px) {

    .project-content .bottom-content {
        margin-top: 20%;
    }

    .project-card {
        padding: auto;
        width: 100%;
        height: 55vh;
    }

    .project-card img {
        width: 100%;
        height: 30vh;
    }

    .project-card h3 {
        margin-top: 0;
        font-size: 90%;
    }

    .project-card p {
        margin-top: 0;
        font-size: 80%;
    }

    .project-card .button {
        margin-top: 0;
        margin-left: 15%;
    }

    .project-card .btn {
        width: 80%;
        font-size: 100%;
    }

    #card-btn {
        margin-top: 7%;
        margin-left: 15%;
    }

}

@media (max-width: 376px) {

    .project-content .bottom-content {
        margin-top: 21%;
    }

    .project-card {
        padding: auto;
        width: 100%;
        height: 55vh;
    }

    .project-card h3 {
        margin-top: 0;
        font-size: 80%;
    }

    .project-card p {
        margin-top: 0;
        font-size: 70%;
    }
}

@media (max-width: 320px) {

    .project-content .bottom-content {
        margin-top: 30%;
    }

    .project-card {
        padding: 5%;
        width: 110%;
        height: 40vh;
    }

    .project-card img {
        height: 20vh;
    }

    .project-card h3 {
        font-size: 65%;
    }

    .project-card p {
        font-size: 58%;
    }

    .project-card .button {
        margin-top: 0;
        margin-left: 10%;
    }

     #card-btn {
        margin-top: 10%;
        margin-left: 12%;
    }

    .project-section .btn {
        width: 90%;
        font-size: 80%;
        padding: 5%;
    }
}