* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background: rgba(17, 17, 17, 0.4);
}

.navbar img {
    transition: all 0.5s linear;
}

.navbar img:hover {
    background-color: rgba(248, 247, 247, 0.1);
    transform: scale(0.9);
}

.navbar nav a {
    margin-left: 40px;
    text-decoration: none;
    font-family: "Poppins";
    color: white;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    transition: color 1 ease-in;
}

.navbar nav a:hover {
    color: #1F6F78;
}

.navbar nav a:active {
    color: white;
}

footer {
    width: 100%;
    z-index: 1000;
}

.footer-content {
    background-color: #1F6F78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding: 20px 60px;
}

.footer-content p {
    color: white;
    font-family: "Inria Serif", serif;
    margin-top: 90px;
    font-size: 20px;
}

.footer-content a img {
    transition: all 1s linear;
}

.footer-content a img:hover {
    transform: scale(0.9);
}

.footer-socials a img {
    transition: all 1 ease-in;
}

.footer-socials a img :hover {
    transform: scale(1.1);
}

.footer-socials a img :active {
    transform: scale(1);
}


@media (max-width:1440px) {

    .navbar {
        padding: 18px 40px;
    }

    .navbar nav a {
        font-size: 22px;
        margin-left: 30px;
    }

    .footer-content {
        padding: 20px 40px;
    }
}

@media (max-width:1024px) {
    .navbar {
        padding: 7px 30px;
    }

    .navbar nav a {
        font-size: 18px;
        margin-left: 20px;
    }


}

@media (max-width:768px) {

    .navbar {

        gap: 10px;
        padding: 5px 20px;
    }

    .navbar img {
        width: 50px;
    }

    .navbar nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar nav a {
        font-size: 16px;
        margin: 10px;
    }


    .footer-content {
        text-align: center;
        gap: 0px;
        height: auto;
        padding: 10px 40px;
    }

    .footer-content p {
        margin-bottom: 0;
        font-size: 10px;
    }

    .footer-socials a img {
        transform: scale(0.8);
    }
}

@media (max-width: 426px) {

    .navbar nav a {
        font-size: 12px;
        margin: 5px;
    }

    footer {
        width: 100%;
        z-index: 1000;
        margin-bottom: 0;
        height: auto;
    }

    .footer-content {
        height: 13vh;
        padding: 0;
        gap: 0;
    }

    .footer-content p {
        margin-top: 10vh;
        font-size: 50%;
    }

    .footer-content a img {
        width: 100%;
    }

    .footer-socials a img {
        width: 15%;
    }
}

@media (max-width: 376px) {

    .navbar nav a {
        font-size: 11px;
        margin: 4px;
    }

    .footer-content p {
        margin-top: 9vh;
        transform: translate(10%);
    }

}