* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(17, 17, 17, 0.4);
}

.navbar img {
    transition: all 0.5s linear;
}
.navbar img:hover {
    background-color: rgba(248, 247, 247, 0.1);
    transform: scale(0.9);
}

.navbar nav a {
    margin-left: 40px;
    text-decoration: none;
    font-family: "Poppins";
    color: white;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    transition: color 1 ease-in;
}

.navbar nav a:hover {
    color: #1F6F78;
}
.navbar nav a:active {
    color: white;
}

/* Home section start */

.home-section {
    display: flex;
    justify-content: space-between;
    padding: 114px 60px;
    background: linear-gradient(180deg, rgba(255, 249, 249, 0.35) 0%, rgba(17, 17, 17, 0.35) 100%), url('assets/background image.png');
    /* height: 1020px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.home-section-left {
    max-width: 500px;
}

.home-section-left .text {
    margin-left: 79px;
    justify-content: center;
    align-items: center;
    width: 544px;
    height: 335px;
    transform: translate(0px, 90px);
}

.hello {
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 30px;
    color: #000;
}

.home-section-left h1 {
    font-family: "Mate SC", serif;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    line-height: 65px;
    color: #000;
}

.role {
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 35px;
    color: #444444;
}

.home-section-left .button {
    display: flex;
    width: 592px;
    gap: 44px;
    margin-left: 63px;
    transform: translate(0px, 110px);
}

.home-section-left .btn {
    display: inline-block;
    width: 274px;
    height: 68px;
    padding: 12px 0px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 36px;
    margin-right: 15px;
    text-align: center;
    font-family: "Lisu Bosa", serif;
    font-weight: 400;

}

.home-section-left .primary {
    background-color: #1F6F78;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;
}

.home-section-left .primary:hover {
    background-color: rgb(31, 111, 120, 0.75);
}

.home-section-left .primary:active {
    background-color: #1F6F78;
}

.home-section-left .outline {
    background-color: none;
    border: 2px solid #1F6F78;
    color: #1F6F78;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;
}

.home-section-left .outline:hover {
    background-color: rgba(0, 0, 0, 0.10);
}

.home-section-left .outline:active {
    background-color: none;
}

.home-section-left .socials {
    display: flex;
    gap: 27px;
    margin-left: 12px;
    text-decoration: none;
    transform: translate(0px, 270px);

}

.home-section-left .socials  {
    transition: all 1 ease-in;
}

.home-section-left .socials :hover {
    transform: scale(1.1);
}

.home-section-left .socials :active {
    transform: scale(1);
}

.home-section-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(0px, 119px);
}

/* About section start */

.about-section {
    padding: 44px 60px;
    background: white;
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 400;
    color: #111111;
    padding-bottom: 1px;
}

.section-title p {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35%;
    color: #666666;
    padding-top: 10px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-left {
    flex: 1;
}

.about-left h2 {
    padding: 65px 0 1px;
    font-family: "Montagu Slab", serif;
    font-weight: 500;
    font-size: 28px;
    border-bottom: 3px solid #1F6F78;
    display: inline-block;
    line-height: 35px;
}

.about-left p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    line-height: 35px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 33px;
    margin-left: 57px;
    width: 400px;
}

.skills .row {
    display: flex;
    gap: 12px;
}

.skills .row .second {
    justify-content: center;
}

.skills .row img {
    transition: all 0.5s linear;
}

.skills .row img:hover {
    transform: scale(1.1);
}

.interest {
    display: flex;
    margin-top: 18px;
    margin-left: 10px;
    gap: 46px;
}

.interest .interest-card {
    background-color: white;
    width: 410px;
    height: 162px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 22px;
    align-content: center;
    text-align: center;
}

.interest-card h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #1F6F78;
}

.interest-card p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #666666;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-100px);
}

/* Activities section start */

.activities-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.timeline {
    width: 1000px;
    margin: 80px 80px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.timeline-left {
    width: 260px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.timeline-left .dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: #1F6F78;
    top: 99px;
}

.timeline-left .line {
    width: 100%;
    height: 2px;
    position: absolute;
    background: #1F6F78;
    top: 320%;
}

.timeline-card {
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 45px;
    border-radius: 14px;
    width: 90%;
}

.card-content h3 {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #111111;
}

.year {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 24px;
    color: #1F6F78;
    line-height: 35px;
}

.card-content p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #666666;
}

/* Achievement section start */

.achievements-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.achievements-content {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 125px 213px;
    flex-wrap: wrap;
}

.achievements-content .card {
    background: white;
    padding: 26px;
    width: 322px;
    height: 685px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
}

.achievements-content .card h3 {
    font-family: "Playfair Display", serif;
    color: #1F6F78;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin-top: auto;
}

.achievements-content .card p {
    font-family: "Playfair Display", serif;
    color: #666666;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: auto;
}

.achievements-section .button {
    width: 260px;
    transform: translate(0px, 150px);
}

.achievements-section .btn {
    display: inline-block;
    width: 260px;
    padding: 12px 0px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    font-family: "Lisu Bosa", serif;
    font-weight: 400;

}

.achievements-section .primary {
    background-color: #1F6F78;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;
}

.achievements-section .primary:hover {
    background-color: rgb(31, 111, 120, 0.75);
}

.achievements-section .primary:active {
    background-color: #1F6F78;
}

/* Education section start */

.education-section {
    padding: 44px 60px;
    background: white;
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.education-section .section-title h2 {
    border-bottom: 3px solid #1F6F78;
    display: inline-block;
}

.education-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Experience section start */

.experience-section {
    padding: 44px 60px;
    background: white;
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.experience-section .section-title h2 {
    border-bottom: 3px solid #1F6F78;
    display: inline-block;
}

.experience-content {
    display: block;
    margin-top: 100px;
    margin-left: 14px;

}

.experience-content .content-top,
.experience-content .content-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 1s ease-in;
}

.experience-card {
    background: white;
    width: 28%;
    height: 16em;
    align-content: baseline;
    padding: 15px;
    margin: 30px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
}

.experience-content .content-bottom .experience-card:hover {
    transform: translateY(-15px);
}

.experience-content .content-top .experience-card:hover {
    transform: translateY(-15px);
}

.experience-card h3 {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: #111111;
    margin-top: 15px;
}

.experience-card p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #666666;
    margin-top: 15px;
}

/* Project section start */

.project-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.project-section .section-title h2 {
    font-weight: 700;
}

.project-content {
    margin-left: 0px;
    margin-top: 50px;
}

.project-content .upper-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 350px;
    margin-right: 300px;
}

.project-content .bottom-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 350px;
    margin-top: -320px;
    margin-left: 355px;
}

.project-content .project-card {
    opacity: 0.7;
    transition: all 0.5s;
}

.project-content .project-card:hover {
    opacity: 1;
}


.project-card {
    display: block;
    background: rgba(17, 17, 17, 0.5);
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
    width: 300px;
    height: 570px;
}

.project-card h3 {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    color: white;
    text-align: center;
    margin-top: 0px;
}

.project-card p {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.project-section .button {
    display: flex;
    margin-top: 90px;
}

.project-section .btn {
    display: inline-block;
    width: 260px;
    padding: 12px 0px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    font-family: "Lisu Bosa", serif;
    font-weight: 400;
}

.project-section .outline {
    border: 2px solid #1F6F78;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s linear;
}

.project-section .outline:hover {
    transform: translateY(-10px);
    border: 2px solid white;
}

.project-section .outline:active {
    transform: translateY(-10px);
    border: 2px solid #1F6F78;
}

/* Assignment section start */

.assignment-section {
    padding: 44px 60px;
    background: rgba(17, 17, 17, 0.25);
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.assignment-section .section-title h2 {
    font-weight: 700;
}

.assignment-section .assignment-content {
    /* display: flex; */
    margin-top: 40px;
    /* margin-left: 135px; */

}

.assignment-content .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, (4, 1fr)); */
    gap: 40px;
}

.assignment-content .grid .card {
    background-image: url("assets/assignImage.png");
    width: 78%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    transition: all 0.5s ease-in;
}

.assignment-content .grid .card:hover {
    transform: scale(0.9);
}


.assignment-content .grid .card .card-footer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    height: 46px;
    border-radius: 0 0px 20px 20px;
    margin-top: 204px;
    justify-content: center;
    align-items: center;
}

.assignment-content .grid .card .card-footer a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #1F717A;
    transition: color 0.5s linear;
}

.assignment-content .grid .card .card-footer a:hover {
    color: rgba(10, 10, 10, 1);
}

/* Gallery section start */

.gallery-section {
    padding: 44px 60px;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url("assets/galleryBack.png");
    /* height: 1024px; */
    min-height: 100vh;
    height: auto;
    align-items: center;
}

.gallery-section .section-title h2 {
    font-weight: 700;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-section .section-title p {
    color: white;
}

.gallery-section .gallery-content {
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 10px;
    padding: 80px;
}

.gallery-section .gallery-content .grid {
    display: grid;
    /* grid-template-columns: repeat(4, 290px); */
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 0px;
}

.gallery-section .gallery-content .grid img {
    transition: all 1s ease-in-out;
}

.gallery-section .gallery-content .grid img:hover {
    transform: scale(0.9);
}
.gallery-section .gallery-content .grid .card3 {
    grid-column: span 2;
}

.gallery-section .gallery-content .grid .card5 {
    grid-column: span 2;
    align-content: end;
}

.gallery-section .gallery-content .grid .card4 {
    align-content: end;
}

/* Contact section start */

.contact-section {
    padding: 20px 60px;
    background: linear-gradient(180deg, rgba(255, 249, 249, 0.35) 0%, rgba(17, 17, 17, 0.35) 100%), url('assets/background image.png');
    /* height: 910px; */
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.contact-section .content-left {
    width: 45%;
    margin-left: 100px;
    margin-top: 90px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background: rgba(102, 102, 102, 0.5);
    color: black;
    font-size: 24px;
    font-family: "Inria Serif", serif;
}

.form-group textarea {
    height: 180px;
    resize: none;
}

.contact-section .button {
    display: flex;
    justify-content: center;
    width: 592px;
    gap: 44px;
    margin-left: 63px;
    /* transform: translate(0px, 110px); */
}

.contact-section .btn {
    display: inline-block;
    width: 274px;
    height: 68px;
    padding: 12px 0px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 36px;
    margin-right: 15px;
    text-align: center;
    font-family: "Lisu Bosa", serif;
    font-weight: 400;

}

.contact-section .primary {
    background-color: #1F6F78;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s;
}

.contact-section .primary:hover {
    background-color: rgb(31, 111, 120, 0.75);
}

.contact-section .primary:active {
    background-color: #1F6F78;
}

.contact-section .content-right {
    width: 45%;
    margin-right: 100px;
    margin-top: 90px;
}

.contact-section .content-right h2 {
    text-align: center;
    font-family: "Lalezar", sans-serif;
    font-size: 64px;
    line-height: 35px;
    color: #1F717A;
    text-shadow: #000;
}

.contact-section .content-right p {
    text-align: center;
    font-family: "Inria Serif", serif;
    font-size: 24px;
    line-height: 25px;
    color: #666666;
    margin-top: 25px;
}

.contact-section .content-right .contact-socials {
    margin-left: 100px;
    margin-top: 140px;
    transition: all 1s ease-in;
}

.contact-section .content-right .contact-socials img {
    transition: all 0.5s ease-in;
}
.contact-section .content-right .contact-socials img:hover {
    transform: translateY(-6px);
}
.contact-section .content-right .contact-socials img:active {
    transform: scale(1.1);
}

.contact-section .content-right .contact-details {
    display: flex;
    flex-direction: column;
}

.contact-section .content-right .contact-details p {
    text-align: left;
    margin-left: 70px;
}

footer {
    width: 100%;
    z-index: 1000;
}

.footer-content {
    background-color: #1F6F78;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    padding: 20px 60px;
}

.footer-content p {
    color: white;
    font-family: "Inria Serif", serif;
    margin-top: 90px;
    font-size: 20px;
}

.footer-content a img {
    transition: all 1s linear;
}
.footer-content a img:hover {
    transform: scale(0.9);
}

.footer-socials a img {
    transition: all 1 ease-in;
}

.footer-socials a img :hover {
    transform: scale(1.1);
}

.footer-socials a img :active {
    transform: scale(1);
}